* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}

header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  font-family: Verdana, sans-serif;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 8px 16px;
  font-family: Verdana, sans-serif;
  letter-spacing: 4px;
}

header .Header_text {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

header a:hover {
  background-color: rgba(145, 145, 145, 0.466);
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

.Header_wrapper {
  display: flex;
  z-index: 1;
  justify-content: center;
  position: relative;
  width: 100%;
}

.Header_wrapper .Header_img {
  width: 100%;
}

.Header_wrapper .Header_img img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.Header_wrapper .img_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-family: Verdana, sans-serif;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Header_wrapper .img_text b {
  background-color: rgba(0, 0, 0, 0.604);
  padding: 10px;
}

.Header_wrapper .img_text p {
  padding: 10px;
}

/* Project */
.Projects {
  width: 100%;
  height: auto;
  padding-top: 32px;
  display: block;
}

.Projects a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid rgb(225, 225, 225);
  padding-bottom: 16px;
  display: block;
  margin-bottom: 32px;
}

.img-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.prj-container {
  width: calc(25% - 16px);
  margin-bottom: 16px;
}

.prj-container img {
  height: auto;
  width: 100%;
}
